<h2><%= @cocktail.name %></h2>



<% @cocktail.doses.each do |dose| %>
    <p>  <%= dose.ingredient.name %>: <%= dose.description %>
      <button>
        <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }%>
      </button>
    </p>
<% end %>

<div>
  <button>
    <%= link_to "Add dose", new_cocktail_dose_path(@cocktail) %>
  </button>


  <button>
    <%= link_to "Cocktails", cocktails_path %>
  </button>
</div>
