<h2><%= @cocktail.name %></h2>



  <% @cocktail.doses.each do |dose| %>
     <p>  <%= dose.ingredient.name %>: <%= dose.description %></p>
  <% end %>

<button>
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail) %>
</button>

<button>
  <%= link_to "Return to all", cocktails_path %>
</button>
